.container{
    background-color:yellowgreen;
    height: 1000px;
    width: 100%;
}

.login{
    text-align: center;
}
.form{
    text-align: center;
    margin: auto;
    border: 1px solid black;
    height: 400px;
    width: 300px;
    padding: 6px 6px;
    background-color: antiquewhite; 
}
.label{ 
    font-size: 20px;
    padding: 5px; 
    top: 4px;
    position: relative;    
}
.inp-box{ 
    padding: 5px;
    margin-top: 10px;
    width: 200px;
}
.submit{ 
    background-color:orange;
    border: none;
    font-size: 20px;
    padding: 3px 3px;
    position: relative;
    top: 20px; 

}
.home-btn{background-color: yellow;
    accent-color: black;
    font-size: 15px;
    margin-left: 20px;
    margin-top: 20px;
}
span-err{
    color:  red;
    font-size: 16px;
    position: relative;
    top: 6px;
}
